<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Automatizador de documentación.</h1>
    <div>
        <p>Bienvenido al automatizador. Por favor, disponga del PDD de su proceso a automatizar.</p>
          <form action="{% url 'home' %}" method="post" enctype="multipart/form-data" id="uploadForm">
            {% csrf_token %}
            <input type="file" name="archivo" accept=".pdf" multiple id="fileInput"/>
            <br><br>
            <button type="submit" name="action" value="cargarWQ">Enviar</button>
        </form>
            <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" name="action" value="iniciar">Procesar</button>
        </form>
    </div>
    {% block content %} {% endblock %}

    <div>
        <table>
            <h1>Cola de Trabajo</h1>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Log</th>
            </tr>

            {% for q in wq %}
            <tr>
                <td>{{q.id_value}}</td>
                <td>{{q.status}}</td>
                <td>{{q.log}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
            <button type="submit" name="action" value="vaciarWQ">Vaciar Cola de Trabajo</button>
        </form>
    {% for q in currentItem %}
    <div>
        <h1>Caso Actual</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Log</th>
                <th>Time</th>
            </tr>
            
            <tr>
                <td>{{q.id_value}}</td>
                <td>{{q.status}}</td>
                <td>{{q.log}}</td>
                <td>{{q.updated_at}}</td>
            </tr>
        </table>
    </div>
    {% endfor %}
</body>

</html>